.work_modal {
  position: fixed;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #20bf55;
  transform: translate(0%, 110%);
  z-index: 20;
  overflow: hidden;

  &.open {
    transform-origin: center center;
    transform: translate(0);
    animation: reveal 1s cubic-bezier(0.175, 0.885, 0.32, 1.25) forwards;
  }

  &.closing {
    // transform-origin: top;
    animation: closing 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.25) forwards;
  }

  @media screen and (max-width: 768px) {
    &.open {
      animation: reveal__mobile 1s cubic-bezier(0.175, 0.885, 0.32, 1.25)
        forwards;
    }
    &.closing {
      animation: closing__mobile 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.25)
        forwards;
    }
  }

  @keyframes reveal {
    0% {
      top: 0;
      transform: scale(1) translate(0%, 110%);
    }
    90% {
      top: 50%;
      transform: scale(0.9) translate(0, -50%);
    }
    100% {
      top: 0;
      transform: scale(1) translate(0);
    }
  }
  @keyframes reveal__mobile {
    0% {
      top: 110%;
      // transform: scale(1) translate(0%, 110%);
    }
    90% {
      top: 15%;
      left: 5%;
      width: 90%;
      height: 90%;
      // transform: scale(0.9) translate(50%, 50%);
    }
    100% {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // transform: scale(1) translate(0);
    }
  }

  @keyframes closing {
    0% {
      top: 0;
      transform: scale(1) translate(0, 0);
    }
    50% {
      transform: translate(-50%, 20%);
      height: 40%;
      width: 70%;
      left: 50%;
    }
    100% {
      transform: translate(0, 110%);
    }
  }
  @keyframes closing__mobile {
    0% {
      top: -60%;
      width: 100%;
      height: 100%;
      left: 0;
      // transform: scale(1) translate(0, 0);
    }
    50% {
      top: -20%;
      height: 40%;
      width: 90%;
      left: 5%;
    }
    100% {
      width: 100%;
      top: 10%;
      left: 0;
    }
  }

  .close_modal_button {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
    background: none;
    z-index: 2;
    font-family: "Codec", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #f4f4f8;
    border: none;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    padding: 1.2em 1em 1em;
    font-size: 1em;
    text-transform: uppercase;
    transition: background 0.3s ease-out;
    font-variant-ligatures: no-additional-ligatures;
    font-feature-settings: "calt" 0;

    svg {
      width: 2em;
      height: 2em;
      fill: #f4f4f8;
      pointer-events: none;
    }

    &:focus,
    &:hover {
      background: #4985fe;
      color: #f4f4f8;
    }
  }

  .work_modal_content {
    position: absolute;
    z-index: 1;
    opacity: 0;
    height: 100%;
    width: 100%;
    background: #091619;
    overflow: auto;
    padding: 6em 0;
    -webkit-overflow-scrolling: touch;
    transition: opacity 0.5s ease-out;

    &.loaded {
      opacity: 1;
    }

    .wrapper {
      width: calc(100% - 12em);
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: stretch;

      header,
      section {
        padding: 0;
        width: calc(100% - (2 * 1em));
        margin-left: 1em;
        margin-right: 1em;
        position: relative;
        z-index: 2;
      }

      header h2,
      section h2 {
        font-size: 3em;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: -2px;
      }

      header h3,
      section h3 {
        font-size: 1.2em;
        text-transform: uppercase;
        color: #20bf55;
        margin: 0;
      }

      section img {
        display: block;
        margin: 3em 0;
        position: relative;
        left: 50%;
        max-height: 80vh;
        transform: translateX(-50%);
        max-width: calc(100% + 16em);
      }
    }
  }
}

@media screen and (max-width: 1739px) {
  .wrapper {
    width: calc(100% - 6em);
  }
}

@media screen and (min-width: 1370px) {
  .work_modal {
    .work_modal_content {
      .wrapper {
        header,
        section {
          margin-left: calc(((100% / 12) * 3) + 1em);
          width: calc(((100% / 12) * 6) - (1em * 2));
        }
      }
    }
  }
}

@media screen and (max-width: 979px) {
  .work_modal {
    .close_modal_button {
      background: rgba(9, 22, 25, 0.9);
      left: auto;
      right: 0;
    }

    .work_modal_content {
      .wrapper {
        header h2,
        section h2 {
          font-size: 2em;
          padding-right: 1em;
        }

        header h3,
        section h3 {
          font-size: 1em;
          padding-right: 2em;
        }

        section img {
          max-width: 100%;
          margin: 1em 0;
        }
      }
    }
  }
}

@media screen and (min-width: 980px) {
  .work_modal {
    .work_modal_content {
      .wrapper {
        header,
        section {
          margin-left: calc(((100% / 12) * 2) + 1em);
          width: calc(((100% / 12) * 8) - (1em * 2));
        }
      }
    }
  }
}
@media screen and (max-width: 739px) {
  .work_modal {
    .work_modal_content {
      padding: 2em 0;
      .wrapper {
        width: calc(100% - 2em);
      }
    }
  }
}
