.get_in_touch_section {
  > div {
    width: calc(100% - (2 * 1em));
    margin-left: 1em;
    margin-right: 1em;

    article {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: stretch;
      width: calc(100% + (2 * 1em));
      margin-left: -1em;
      margin-right: -1em;

      > * {
        flex: 0 1 auto;
      }

      h3 {
        text-transform: uppercase;
        margin: 0 0 0.5em;
        font-size: 1em;
        letter-spacing: 1px;
      }

      a#my_email,
      a#my_phone {
        font-family: "Gilroy", Arial, "Helvetica Neue", Helvetica, sans-serif;
      }

      > div {
        &:first-child {
          width: calc(100% - (2 * 1em));
          margin-left: 1em;
          margin-right: 1em;
          padding: 2em 0;
        }

        > a {
          font-family: Codec, Arial, Helvetica Neue, Helvetica, sans-serif;
          font-size: 2em;
          text-transform: uppercase;
          line-height: 1;
          display: block;
          max-width: -moz-fit-content;
          max-width: fit-content;
          color: #20bf55;

          &:last-child {
            font-size: 1.5em;
            color: #199342;
          }
        }
      }

      aside {
        width: calc(100% - (2 * 1em));
        margin-left: 1em;
        margin-right: 1em;

        > div {
          display: flex;
          gap: 1em;

          > .social a {
            width: 3.5em;
            height: 3.5em;
            display: flex;
            place-items: center;
            place-content: center;
          }
        }
      }
    }

    .contact__form {
      width: calc(100% - (2 * 1em));
      margin-left: 1em;
      margin-right: 1em;
      padding-top: 1em;
      position: relative;

      > span {
        display: block;

        .form__group {
          position: relative;
          margin-bottom: 1em;
          z-index: 1;
          width: 100%;

          input,
          textarea {
            width: 100%;
            padding: 1.5em 1em 0.5em;
            font-size: 1em;
            font-family: Bitter, Cambria, Georgia, serif;
            border: none;
            background: #050c0e;
            color: #f4f4f8;
            outline-offset: 1px;
            -webkit-appearance: none;
            appearance: none;
            -moz-appearance: none;
            resize: none;

            &.invalid {
              outline: 1px solid #c69c6d;

              & ~ label {
                transform: scale(0.75) translateY(-0.75em);
              }
            }

            &.valid {
              outline: 1px solid #20bf55;
            }

            &:focus {
              outline: 1px solid #20bf55;

              & + label {
                color: #20bf55;
                transform: scale(0.75) translateY(-0.75em);
              }
            }
          }

          label,
          .error {
            position: absolute;
            line-height: 1;
            font-family: Codec, Arial, Helvetica Neue, Helvetica, sans-serif;
            text-transform: uppercase;
            top: 1.25em;
          }
          label {
            left: 1em;
            transition: all 0.3s ease-out;
            transform-origin: 0 0 0;
          }
          .error {
            right: 1em;
            transform-origin: 100% 0 0;
            transform: scale(0.75) translateY(-0.75em);
            color: #c69c6d;
            text-align: right;
          }
        }

        > form {
          button[type="submit"] {

            span {
              opacity: 1;
              pointer-events: none;
              transition: opacity 0.3s ease-out 0.1s;
            }

            div {
              width: 2em;
              height: 2em;
              position: relative;
              transition: opacity 0.3s ease-out;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);

              svg {
                opacity: 0;
                transition: opacity 0.1s ease-out;
                display: block;
                width: 100%;
                height: 100%;

                rect {
                  stroke: #f4f4f8;
                  animation-duration: 1.5s;
                  fill: none;
                  stroke-width: 10px;
                  stroke-linecap: square;
                  stroke-dasharray: 192 64 192 64;
                  stroke-dashoffset: 0;
                  animation: Button_pathRect__6Ue0A 3s
                    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
                }

                @keyframes Button_pathRect__6Ue0A {
                  25% {
                    stroke-dashoffset: 64;
                  }

                  50% {
                    stroke-dashoffset: 128;
                  }
                  75% {
                    stroke-dashoffset: 192;
                  }
                  100% {
                    stroke-dashoffset: 256;
                  }
                }
              }
            }

            &:is(.loading) {
              width: 3.25em;
              pointer-events: none;

              span {
                opacity: 0;
                transition: opacity 0.1s ease-out;
              }

              svg {
                opacity: 1;
                transition: opacity 0.3s ease-out 0.1s;
              }
            }
          }
        }
      }

      output {
        padding: 0 1em;
        margin-top: 1em;
        height: 1px;
        display: block;
        width: 100%;
        opacity: 0;
        transform: translateY(-1em);
        transition: all 0.3s ease-out;

        &[class*="form"] {
          padding: 1em;
          height: 100%;
          transform: translateY(0);
          opacity: 1;
          pointer-events: all;
        }
      }
      .form-error {
        background: #b88348;
      }
      .form-success {
        background: #199342;
      }
    }
  }
}

@media screen and (min-width: 980px) {
  .get_in_touch_section {
    > div {
      article {
        > div {
          &:first-child {
            margin-left: calc(((100% / 12) * 1) + 1em);
            width: calc(((100% / 12) * 10) - (1em * 2));
          }
        }

        > aside {
          margin-left: calc(((100% / 12) * 1) + 1em);
          width: calc(((100% / 12) * 5) - (1em * 2));

          > div {
            display: flex;
            gap: 1em;

            a {
              aspect-ratio: 1;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }

      .contact__form {
        width: calc(((100% / 12) * 5) - (1em * 2));
      }
    }
  }
}

@media screen and (max-width: 739px) {
  .get_in_touch_section {
    > div {
      article {
        > div {
          > a {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
