/* custom responsive styles */
@import "./desktop.scss";
@import "./mobile.scss";
@import "./tablet.scss";

/* tailwind styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Codec";
  src: url("../assets/fonts/codec/Codec-Cold-ExtraBold-trial.ttf")
    format("truetype");
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy/Gilroy-ExtraBold.otf") format("opentype");
}

@layer base {
  body {
    font: normal 16px/1.5 "Bitter", Cambria, Georgia, serif;
    font-variant-ligatures: no-common-ligatures;
    font-feature-settings: "calt" 0;
    padding-left: 6em;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    counter-reset: section;

    @apply bg-brand-green-dark text-brand-white max-w-full overflow-x-hidden;

    &::-webkit-scrollbar {
      width: 4px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #20bf5533;
      border-radius: 5px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Codec", Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.1;
    letter-spacing: -1px;
  }

  * {
    box-sizing: border-box;
  }

  a {
    color: #4985fe;
    text-decoration: none;
    transition: color 0.3s ease-out;

    &:hover {
      color: #7ca7fe;
    }
  }

  article,
  aside,
  footer,
  header,
  nav {
    display: block;
  }

  section,
  .section {
    width: calc(100% - 12em);
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding-top: 6em;
    position: relative;
  }

  figure {
    margin: 1em 40px;
  }

  @media screen and (max-width: 1739px) {
    section,
    .section {
      width: calc(100% - 6em);
    }
  }

  @media screen and (max-width: 739px) {
    section,
    .section {
      width: calc(100% - 2em);
      padding-top: 3em;
    }
  }
}

@layer components {
}
