/* custom responsive styles */
@import "./desktop.scss";
@import "./mobile.scss";
@import "./tablet.scss";

/* tailwind styles */
@tailwind base;

@tailwind components;

@tailwind utilities;

/* custom styles */
@font-face {
  font-family: "Codec";
  src: url("../assets/fonts/codec/Codec-Cold-ExtraBold-trial.ttf")
    format("truetype");
}

@layer base {
  body {
    font: normal 18px/1.6 "bitter", Cambria, Georgia, serif;
    font-variant-ligatures: no-common-ligatures;
    font-feature-settings: "calt" 0;
    padding-left: 6em;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    @apply bg-brand-green-dark text-brand-white max-w-full overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Codec", Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.1;
    letter-spacing: -1px;
  }

  * {
    box-sizing: border-box;
  }

  a {
    color: #4985fe;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }
}

@layer components {
  .section__title {
    counter-increment: section;
    font-size: 2.667em;
    text-transform: uppercase;
  }

  .logo {
    width: 100%;
    text-indent: -9999px;
    font-size: 1em;
    margin: 1.5em 0;
    line-height: 0;
    overflow: hidden;
    display: block;

    @media screen and (max-width: 767px) {
      margin: 0;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 100%;
      background: url(../assets/images/logo.svg) no-repeat center center;
      background-size: 100%;
    }
    @media screen and (max-width: 767px) {
      width: 50px;
    }
  }
}
